<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['bootstrap', 'database', 'node_modules', 'public', 'storage', 'tests', 'vendor'])
    ->notPath('*')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'align_multiline_comment' => true,
        'align_double_arrow' => true,
        'blank_line_after_namespace' => true,
        'blank_line_before_return' => true,
        'linebreak_after_opening_tag' => true,
        'multiline_whitespace_before_semicolons' => ['strategy' => 'no_multi_line'],
        'no_extra_blank_lines' => true,
        'no_trailing_whitespace' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'no_empty_phpdoc' => true,
        'no_superfluous_phpdoc_tags' => false,
        'phpdoc_order' => true,
        'phpdoc_scalar' => true,
        'phpdoc_separation' => true,
        'phpdoc_single_line_var_spacing' => true,
        'phpdoc_trim' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_align' => true,
        'phpdoc_no_package' => true,
        'no_blank_lines_after_phpdoc' => true,
        'single_blank_line_at_eof' => true,
        'single_blank_line_before_namespace' => true,
        'operators' => [
          '===' => 'align_single_space_minimal',
          '==' => 'align_single_space_minimal',
          '=' => 'align_single_space_minimal'
        ]
    ])
    ->setFinder($finder);
